.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  input {
    width: 300px;
    height: 60px;
    margin: 10px;
    font-size: 25px;
  }
}

.card {
  width: 550px;
  height: 180px;
  border: 2px solid black;
  border-radius: 15px;
  margin: 10px;
}

#updateInput {
  width: 100px;
  height: 30px;
}
