.comment-container .user-comment {
  float: right;
  background-color: rgb(124, 124, 124);
  box-shadow: inset 14px 14px 22px 14px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  width: 80%;
  flex-direction: column;
  color: white;
}
.comment-container .user-comment p {
  text-align: justify;
}
.comment-container .user-comment .ratio-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.comment-container .user-comment .ratio-name h5 {
  width: auto;
  text-align: center;
  margin: 0px;
}
.comment-container .user-comment .ratio-name p {
  width: auto;
  text-align: center;
  margin: 0px;
}
.comment-container .user-comment textarea {
  width: 90%;
  padding-left: 10px;
  max-height: 150px;
}
.comment-container .user-comment #newComment {
  border-radius: 10px;
}
.comment-container .user-comment span {
  background-color: rgb(255, 70, 70);
  border-radius: 25px;
  color: white;
  font-weight: 500;
  padding: 0px 5px;
  margin-bottom: 5px;
  margin-top: 5px;
}
.comment-container .user-comment .ratio-name {
  background-color: white;
  color: rgb(124, 124, 124);
  border: 1px solid rgb(124, 124, 124);
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.comment-container .user-comment .ratio-name input {
  border-radius: 20px;
  padding-left: 8px;
  max-width: 100px;
}
.comment-container .user-comment .comment-text {
  display: flex;
  width: 90%;
  align-items: flex-start;
}
.comment-container .user-comment .comment-buttons {
  width: 90%;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.comment-container .user-comment .comment-buttons button {
  border: 1px solid rgb(124, 124, 124);
  background-color: white;
  display: flex;
  color: rgb(124, 124, 124);
  border-radius: 15px;
  padding: 5px;
  transition: 0.5s;
  padding: 5px 10px;
  margin: 5px;
}
.comment-container .user-comment .comment-buttons button:hover {
  border-color: white;
  background-color: rgb(124, 124, 124);
  color: white;
}
.comment-container .user-comment .comment-buttons button {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: flex-start;
}
.comment-container .other-comment {
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  width: 80%;
  flex-direction: column;
  background: #ffffff;
  box-shadow: 14px 14px 22px 14px rgba(0, 0, 0, 0.1);
  color: rgb(124, 124, 124);
}
.comment-container .other-comment p {
  text-align: justify;
}
.comment-container .other-comment .ratio-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.comment-container .other-comment .ratio-name h5 {
  width: auto;
  text-align: center;
  margin: 0px;
}
.comment-container .other-comment .ratio-name p {
  width: auto;
  text-align: center;
  margin: 0px;
}
.comment-container .other-comment .comment-buttons {
  width: 90%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.comment-container .other-comment .comment-buttons button {
  border: 1px solid rgb(124, 124, 124);
  background-color: white;
  display: flex;
  color: rgb(124, 124, 124);
  border-radius: 15px;
  padding: 5px;
  transition: 0.5s;
  padding: 5px 10px;
  margin: 5px;
}
.comment-container .other-comment .comment-buttons button:hover {
  border-color: white;
  background-color: rgb(124, 124, 124);
  color: white;
}
.comment-container .other-comment .comment-buttons button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.comment-container .other-comment .ratio-name {
  background-color: rgb(124, 124, 124);
  color: white;
  border: 1px solid white;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 5px 20px;
}/*# sourceMappingURL=Comments.css.map */