@import "../Varibles/Varibles.scss";

.letras-container {
  width: 90%;
  display: flex;
  background-color: white;
  margin: 10px;
  border-radius: 20px;
}

.letras {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1;
  width: 90%;
  text-decoration: none;
  margin: 10px;
  list-style: none;
  padding: 0;
}

.letras button {
  margin: 0;
  padding: 0;
  color: $pink;
  font-weight: 400;
  border: none;
  background-color: white;
  padding: 0 6px;
}
